body{
    background-color: bisque;
}

.my-title{
    color:white;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 2px #000);
}